#box {
    margin-top: 0;
}

.jumbo-content.bshade.master {
    background: url("../images/slides/img4.jpg");
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    background-origin: border-box;
    background-repeat: no-repeat;
    background-blend-mode: luminosity;
    transition: all 2s ease-in-out;
}

@keyframes fade {
    from {
        opacity: 0.7;
    }
    to {
        opacity: 1.0;
    }
}

#sidebar {
    margin-top: -43px;
}

.jumbo-content .side-items {
    align-self: flex-start;
    justify-content: center;
}

.content .jumbo-content {
    display: grid;
    grid-template-columns: 50fr 50fr;
    align-items: center;
}

.content .jumbo-content .grid-col-1 {
    grid-column-start: 1;
    grid-column-end: 2;
}


/* .content .jumbo-content .grid-col-1 .btn-white,
.content .jumbo-content .grid-col-1 .btn-dark{

} */

.content .jumbo-content .grid-col-2 {
    grid-column-start: 2;
    grid-column-end: 3;
}

.content .jumbo-content .grid-colspan-2 {
    grid-column-start: 1;
    grid-column-end: 3;
    align-self: center;
}

.content .jumbo-content p {
    text-align: unset;
    width: 100%;
}

.grid-col-1 .btn-dark,
.grid-col-1 .btn-white,
.grid-col-2 .btn-dark,
.grid-col-2 .btn-white {
    padding: 8px;
    font-size: 14px;
}

@media only screen and (max-width:550px) {
    .content .jumbo-content .grid-col-1,
    .content .jumbo-content .grid-col-2 {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .content .jumbo-content .grid-col-2 {
        grid-row: 2;
    }
    .content .jumbo-content ul {
        display: none;
    }
}